html {
	background: url(../images/3333.jpg);
	background-repeat:  no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    font-family: 'Helvetica Neue', sans-serif;
}
.header a{
    text-decoration: none;
    font-size: 20px;
    color: #212f3c;

}
.header a:hover{
    background: #e8f6f3;
    border: 1px solid black;
    padding : 3px 5px;
}